body
{
	line-height: 1.5em; font-size: 100%; padding: 20px;
	border: 1px solid black; margin: 100px;
	box-shadow: inset 10px 10px 50px grey;
}
h1
{
  font-family: 'Satisfy', cursive;  
  text-align: center;
  text-shadow: 2px 2px 4px green;
}
h2
{ 
  border-top: 2px solid orange; box-shadow: inset 2px 2px 15px purple; 
   text-align: center; font-size: 1.1em; margin-top: 1%; margin-bottom: 10%;
}
.centerform 
{
 
  margin-left: 5%;
  padding: 10%;
  background-color: lightgrey;
}
.centerform label
{
	width: 100%;
}
.centerform input
{
    width: 50%;
}
.centerform button
{
    width: 25%;
    margin-left: 40%;
    	
}